{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Season: {{ season.number }} - {{ program.title }}</h5>

            <h6 class="card-subtitle mb-2 text-muted">Episode: {{ episode.number }} - {{ episode.title }}</h6>
            <p class="card-text">{{ episode.synopsis }}</p>
            <a href="{{ path('app_index') }}" class="card-link">
                Aller à la home
            </a>
            <a href="{{ path('program_season_show', {programSlug : program.slug, seasonId : season.id}) }}" class="card-link">
                Retour à la season
            </a>
        </div>
    </div>
{% endblock %}