{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Season: {{ season.number }} - {{ program.title }}</h5>

            <h6 class="card-subtitle mb-2 text-muted">Episode: {{ episode.number }} - {{ episode.title }}</h6>
            <p class="card-text">{{ episode.synopsis }}</p>
            {% if app.user%}
                <h2>Ajouter un commentaire</h2>
                {% include 'comment/_form.html.twig' %}
            {% else %}
                <a href="{{ path('app_login') }}"> Se connecter</a>
            {% endif %}
            <h2>Ajouter un commentaire</h2>
            {% if episode.comments|length > 0 %}
                {% for comment in episode.comments %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.author.email }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Note: {{ comment.rate }}</h6>
                            <p class="card-text">Commentaire: {{ comment.comment }}</p>
                            {% if app.user and (app.user == comment.author or is_granted("ROLE_ADMIN")) %}
                                {% include 'program/_deleteComment_form.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <span>Be the first to comment this Episope.</span>
                </div>
            {% endif %}
            <a href="{{ path('app_index') }}" class="card-link">
                Aller à la home
            </a>
            <a href="{{ path('program_season_show', {programSlug : program.slug, seasonId : season.id}) }}"
               class="card-link">
                Retour à la season
            </a>
        </div>
    </div>
{% endblock %}