{% extends 'base.html.twig' %}

{% block title %}All Programs{% endblock %}

{% block body %}
    {# place le formulaire de recherche sous le <h1>#}
    <h1>Toutes les séries</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Search</button>
    {{ form_end(form) }}

    {% for program in programs %}
        <div class="card" style="width: 20rem;">
            <img width="100%" class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
            <div class="card-body">

                <h5 class="card-title">{{ loop.index }} / {{ program.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Catégorie : {{ program.category.name }}</h6>
                <p class="card-text">{{ program.summary }}</p>
                <a href="{{ path("program_show", { slug: program.slug }) }}" class="card-link">Voir la fiche</a>
            </div>
        </div>

    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}