{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Saison {{ season.number }} de {{ program.title }}</h5>
            <p class="card-text">{{ season.description }}</p>
            Liste de Episodes:
            {% for episode in season.episodes %}
                <div class="list-group">
                    <a href="{{ path('program_episode_show', { programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug}) }}"
                       class="list-group-item list-group-item-action">
                        Episode {{ episode.number}} - {{ episode.title }}
                    </a>
                </div>
            {% endfor %}

            <a href="{{ path('program_show', {slug: program.slug}) }}" class="btn btn-primary">Aller au programa</a>
        </div>
    </div>
{% endblock %}