{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

 {% block body %}
     <h1>{{ title }}</h1>
     {% for program in programs %}
         <div class="card" style="width: 22rem;">
         <img class="card-img-top" src="{{ program.poster }}" alt="{{ program.title }}">
         <div class="card-body">
             <h5 class="card-title">{{ program.title }}</h5>
             <p class="card-text">{{ program.summary }}</p>
         </div>
         <hr/>
         <div  class="nav-item dropdown">
             <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Acteurs
             </div>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 {% for actor in program.actors %}
                    <a class="dropdown-item" href="{{ path('actor_show', {id: actor.id}) }}">{{ actor.name }}</a>
                 {% endfor %}
             </div>
         </div>
     {% endfor %}
     </div>
 {% endblock %}